.header {
    &__mail,
    &__phone {
        margin-right: 30px;
        font-weight: bold;
        font-size: 14px;
        line-height: 136%;
        display: flex;
        align-items: center;
        &:hover {
            color: #F5F5F5;
        }
        svg {
            margin-right: 7px;
        }
    }
    &__logo {
        width: 170px;
        margin-right: 30px;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    &__catalog {
        &-btn {
            margin-right: 15px;
            flex-shrink: 0;
            width: 119px;
            height: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            &-burger {
                height: 12px;
                width: 18px;
                display: flex;
                align-items: center;
                position: relative;
                margin-right: 9px;
                span {
                    background-color: #fff;
                    height: 2px;
                    width: 12px;
                    transition: all .3s;
                    &:nth-child(1) {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:nth-child(2) {
                        width: 100%;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            &--active {
                pointer-events: none;
                .header__catalog-btn-burger {
                    span {
                        width: 17px;
                        &:nth-child(1) {
                            transform: rotate(-45deg);
                            top: 5px;
                        }
                        &:nth-child(2) {
                            transform: scale(0.00001);
                        }
                        &:nth-child(3) {
                            transform: rotate(45deg);
                            bottom: 5px;
                        }
                    }
                }
            }
            &--mob {
                display: none;
            }
        }
    }
    &__search {
        flex-grow: 1;
        margin-right: 30px;
        position: relative;
        input {
            width: 100%;
            height: 40px;
            border: 1px solid #D1D1D1;
            border-radius: 6px;
            padding-left: 15px;
            padding-right: 45px;
        }
        &-btn {
            position: absolute;
            width: 40px;
            height: 40px;
            right: 0;
            top: 0;
        }
    }
    &__cart {
        margin-right: 15px;
        text-align: center;
        flex-shrink: 0;
        &-top {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
        }
        &-title {
            margin-top: 5px;
            font-size: 14px;
            line-height: 136%;
            color: #242321;
        }
    }
    &__cart {
        margin-right: 0;
        &-top {
            i {
                font-size: 14px;
                line-height: 136%;
                background: #F24941;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-style: normal;
                margin-left: 5px;
            }
        }
    }
    &__mob-nav {
        display: flex;
    }
}

.header-top {
    background: #00539F;
    color: #FFFFFF;
    &__inner {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__right {
        display: flex;
        align-items: center;
    }
}

.header-middle {
    margin: 40px 0 30px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-catalog {
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.16));
    background: #FFFFFF;
    position: relative;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 20;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        height: 100%;
        width: calc( ((100% - 1170px) / 2) + 270px);
        background: #F5F5F5;
        left: 0;
        top: 0;
    }
    &__top {
        display: none;
    }
    &__back {
        display: none;
    }
    &__inner {
        display: flex;
        position: relative;
        z-index: 2;
        padding: 30px 0 70px;
    }
    &__left {
        width: 270px;
        flex-shrink: 0;
    }
    &__right {
        flex-grow: 1;
    }
    &__tab {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 136%;
        color: #242321;
        transition: all .3s;
        &:hover {
            color: #00539F;
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &--active {
            background: #FFFFFF;
            border-radius: 12px 0px 0px 12px;
            pointer-events: none;
        }
    }
    &__content {
        padding-left: 30px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &--active {
            display: flex;
        }
    }
    &__group {
        width: calc(33.33% - 20px);
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__col {}
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 110%;
        margin-bottom: 15px;
    }
    &__link {
        display: block;
        font-size: 16px;
        line-height: 136%;
        &:hover {
            color: #1DAFD1;
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.header-bottom {
    margin: 35px 0 20px;
}

.nav {
    display: flex;
    align-items: center;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 60px;
        }
        &-show {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
            line-height: 136%;
            color: #242321;
            transition: all .3s;
            &:hover {
                color: #00539F;
                cursor: pointer;
                path {
                    fill: #00539F;
                }
            }
            svg {
                margin-left: 10px;
            }
            &--active {
                color: #00539F;
                path {
                    fill: #00539F;
                }
                &~.nav__item-hidden {
                    display: block;
                }
            }
        }
        &-hidden {
            display: none;
            position: absolute;
            padding-top: 20px;
            top: 100%;
            left: -25px;
            z-index: 20;
            a {
                display: flex;
                height: 40px;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                color: #00539F;
                padding: 0 24px;
                &:hover {
                    background-color: #00539F;
                    color: #fff;
                }
            }
            &-inner {
                background-color: #ffffff;
                border: 1px solid #00539F;
                border-radius: 2px;
                width: 199px;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 136%;
        color: #242321;
        &:hover {
            color: #00539F;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header-bottom {
        margin-top: 0;
    }
    .header-middle {
        margin-bottom: 15px;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 100px;
        &__item {
            flex-grow: unset;
            margin-top: 15px;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .header-catalog {
        &:before {
            width: calc( ((100% - 970px) / 2) + 270px);
        }
        &__group {
            width: calc(50% - 10px);
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__city {
            display: block;
            height: unset;
            .custom-select {
                margin-left: 0;
                margin-top: 5px;
            }
        }
        &__search {
            margin-right: 20px;
        }
    }
    .header-middle {
        margin-top: 30px;
    }
    .header-catalog {
        &:before {
            width: calc( ((100% - 770px) / 2) + 270px);
        }
    }
}

@media screen and (max-width: 790px) {
    .header {
        position: relative;
        &__logo {
            position: absolute;
            left: 20px;
            top: 15px;
            width: 130px;
        }
        &__mail,
        &__phone {
            margin-right: 0;
            span {
                display: none;
            }
            svg {
                margin-right: 0;
            }
            path {
                fill: #00539F;
            }
        }
        &__phone {
            margin-right: 20px;
        }
        &__catalog {
            &-btn {
                &--dekstop {
                    display: none;
                }
                &--mob {
                    display: block;
                    height: unset;
                    width: unset;
                    margin-right: 40px;
                    cursor: pointer;
                    .header__catalog-btn-burger {
                        margin-right: 0;
                        span {
                            transition: all 0s;
                            background: #1DAFD1;
                        }
                    }
                    &>span {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 136%;
                        margin-top: 5px;
                        color: #242321;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        &__search {
            margin-right: 0;
        }
        &__mob-nav {
            z-index: 19;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px 20px;
            background: #FFFFFF;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
            justify-content: center;
        }
    }
    .header-top {
        background-color: transparent;
        &__inner {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
    .header-middle {
        margin: 5px 0 10px;
        padding-top: 15px;
    }
    .nav {
        padding: 0 10px;
        &__item {
            &-show {
                font-size: 14px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .header-catalog {
        width: calc(100% - 90px);
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
        filter: unset;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        &:before {
            display: none;
        }
        &__top {
            display: block;
            padding-top: 48px;
            &-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: bold;
                font-size: 32px;
                line-height: 110%;
                color: #242321;
            }
        }
        &__back {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #1DAFD1;
            margin-bottom: 20px;
            padding: 0 6px;
            cursor: pointer;
            svg {
                margin-right: 8px;
            }
        }
        &__right {
            display: none;
        }
        &__group {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &__title {
            padding-right: 30px;
            background-position: right 18px top 6px;
            cursor: pointer;
            padding: 6px 10px;
            margin-bottom: 0;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.71216 6.99977L1.70216 0.989765L0.288159 2.40377L4.88816 7.00377L0.288159 11.6038L1.70216 13.0098L7.71216 6.99977Z' fill='%23DCDCDC'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 8px;
                height: 13px;
                right: 18px;
                top: 10px;
                transition: all .3s;
            }
            &--active {
                color: #1DAFD1;
                background-color: rgba(245, 245, 245, 0.5);
                &:before {
                    transform: rotate(90deg);
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.71216 6.99977L1.70216 0.989765L0.288159 2.40377L4.88816 7.00377L0.288159 11.6038L1.70216 13.0098L7.71216 6.99977Z' fill='%231DAFD1'/%3E%3C/svg%3E");
                }
                &~.header-catalog__link {
                    display: block;
                    margin-bottom: 0 !important;
                    padding: 10px 20px;
                    background-color: rgba(245, 245, 245, 0.5);
                }
            }
        }
        &__content {
            padding-left: 0;
        }
        &__link {
            display: none;
        }
        &__left {
            width: 100%;
            // display: none;
        }
        &__tab {
            padding-right: 30px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.71216 6.99977L1.70216 0.989765L0.288159 2.40377L4.88816 7.00377L0.288159 11.6038L1.70216 13.0098L7.71216 6.99977Z' fill='%23DCDCDC'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 18px top 6px;
            &--active {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.71216 6.99977L1.70216 0.989765L0.288159 2.40377L4.88816 7.00377L0.288159 11.6038L1.70216 13.0098L7.71216 6.99977Z' fill='%231DAFD1'/%3E%3C/svg%3E");
                background-color: rgba(245, 245, 245, 0.5);
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .header {
        &__mob-nav {
            justify-content: space-between;
        }
        &__lk {
            margin-right: 15px;
            flex-grow: 1;
        }
        &__catalog-btn--mob {
            margin-right: 15px;
            flex-grow: 1;
        }
    }
}