.main {
  color: #FFFFFF;
  background: #F5F5F5;
  padding: 50px 0 30px; }
  .main .swiper-slide {
    width: 1170px !important; }
    .main .swiper-slide:not(.swiper-slide-active) {
      position: relative; }
      .main .swiper-slide:not(.swiper-slide-active) .main__slider-item:before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #DFDFDF;
        border-radius: 12px; }
  .main__slider {
    position: relative; }
    .main__slider-item {
      background-image: radial-gradient(71.94% 71.94% at 54.68% 28.06%, rgba(0, 83, 180, 0.5) 0%, rgba(0, 83, 207, 0.5) 100%), url(../images/main-bg.png);
      background-size: cover;
      background-color: #232220;
      padding: 60px 600px 60px 60px;
      border-radius: 12px;
      position: relative; }
      .main__slider-item-img {
        position: absolute;
        right: 85px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        width: 515px; }
    .main__slider-nav {
      max-width: 1380px;
      width: 1380px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% - 20px));
      height: 55px;
      z-index: 9; }
    .main__slider-prev, .main__slider-next {
      background: #FFFFFF;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-top: 0;
      top: 0; }
      .main__slider-prev:after, .main__slider-next:after {
        display: none; }
    .main__slider-pag {
      position: static;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px; }
    .main__slider .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #C4C4C4;
      margin: 0 4px;
      opacity: 1; }
    .main__slider .swiper-pagination-bullet-active {
      width: 21px;
      border-radius: 28px;
      background: #00539F; }
  .main__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 90%;
    max-width: 500px; }
  .main__desc {
    font-size: 19px;
    line-height: 136%;
    margin-top: 20px;
    max-width: 475px; }
  .main__btn {
    width: 192px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-top: 40px; }

.advantages {
  margin-top: 40px; }
  .advantages__inner {
    width: 100%;
    overflow-x: auto; }
  .advantages__items {
    display: flex; }
  .advantages .swiper-slide {
    width: 370px !important; }
  .advantages .mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #ccc;
    height: 8px;
    opacity: 0; }
  .advantages .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 8px;
    opacity: 0; }
  .advantages .mCSB_dragger {
    height: 8px;
    background: #000;
    cursor: pointer;
    opacity: 0; }
  .advantages__item {
    flex-grow: 1;
    width: 370px;
    flex-shrink: 0;
    background: #00539F;
    color: #FFFFFF;
    border-radius: 12px;
    min-height: 150px;
    position: relative;
    overflow: hidden; }
    .advantages__item:not(:last-child) {
      margin-right: 30px; }
    .advantages__item-title {
      font-weight: bold;
      font-size: 27px;
      line-height: 110%;
      margin-bottom: 8px;
      position: relative;
      z-index: 2; }
    .advantages__item-subtitle {
      position: relative;
      z-index: 2;
      font-size: 24px;
      line-height: 110%;
      max-width: 275px; }
      .advantages__item-subtitle strong {
        font-weight: bold; }
    .advantages__item-desc {
      font-size: 18px;
      line-height: 120%;
      position: relative;
      z-index: 2; }
    .advantages__item-bg {
      position: absolute;
      pointer-events: none; }
    .advantages__item-bg1 {
      left: 0;
      top: 0;
      height: 100%; }
    .advantages__item-bg2 {
      left: 130px;
      bottom: 0; }
    .advantages__item-bg3 {
      right: 30px;
      top: 0; }
    .advantages__item-bg4 {
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .advantages__item--first {
      display: flex;
      align-items: center;
      padding: 0 40px; }
    .advantages__item--second {
      padding: 20px;
      background: #3876D0; }
    .advantages__item--third {
      text-align: center;
      padding: 40px 20px 0; }

.discount,
.hit {
  margin-top: 33px;
  padding: 37px 0; }
  .discount .swiper-container,
  .hit .swiper-container {
    width: 100%;
    overflow-x: hidden; }
  .discount__top,
  .hit__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .discount__link,
  .hit__link {
    margin-left: 20px;
    background: #D8DFE9;
    border-radius: 6px;
    height: 30px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00539F; }
    .discount__link:hover,
    .hit__link:hover {
      background: rgba(216, 223, 233, 0.9);
      color: #00539F; }
  .discount__title,
  .hit__title {
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    .discount__title i,
    .hit__title i {
      color: #F24941;
      font-style: normal; }
    .discount__title svg,
    .hit__title svg {
      margin-left: 13px; }
  .discount__slider,
  .hit__slider {
    margin-top: 30px; }
    .discount__slider-nav,
    .hit__slider-nav {
      display: flex;
      align-items: center;
      margin-left: 20px; }
    .discount__slider-prev, .discount__slider-next,
    .hit__slider-prev,
    .hit__slider-next {
      position: static;
      margin-top: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .discount__slider-prev:after, .discount__slider-next:after,
      .hit__slider-prev:after,
      .hit__slider-next:after {
        display: none; }
      .discount__slider-prev.swiper-button-disabled, .discount__slider-next.swiper-button-disabled,
      .hit__slider-prev.swiper-button-disabled,
      .hit__slider-next.swiper-button-disabled {
        opacity: 1; }
        .discount__slider-prev.swiper-button-disabled path, .discount__slider-next.swiper-button-disabled path,
        .hit__slider-prev.swiper-button-disabled path,
        .hit__slider-next.swiper-button-disabled path {
          fill: #DCDCDC; }
    .discount__slider-prev,
    .hit__slider-prev {
      margin-right: 22px; }

.recomendation {
  padding: 80px 0 37px;
  text-align: center; }
  .recomendation__title {
    margin-bottom: 0; }
  .recomendation__items {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; }
  .recomendation__item-img {
    height: 210px; }
    .recomendation__item-img img {
      width: 100%;
      height: 100%;
      border-radius: 12px; }
  .recomendation__item-title {
    margin-top: 15px;
    font-size: 16px;
    line-height: 136%; }

.news-index {
  padding: 37px 0;
  margin-top: 40px; }
  .news-index__title {
    margin-bottom: 0; }
  .news-index__top {
    display: flex;
    align-items: center; }
  .news-index__link {
    margin-left: 20px;
    background: rgba(60, 95, 147, 0.2);
    border-radius: 6px;
    height: 30px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00539F; }
    .news-index__link:hover {
      background: rgba(0, 167, 205, 0.4);
      color: #00A7CD; }
  .news-index__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; }
  .news-index__item {
    display: flex;
    align-items: center; }
    .news-index__item-img {
      flex-shrink: 0;
      width: 170px;
      height: 170px;
      flex-shrink: 0;
      margin-right: 30px; }
      .news-index__item-img img {
        width: 100%;
        height: 100%;
        border-radius: 12px; }
    .news-index__item-content {
      padding-right: 30px; }
    .news-index__item-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 110%; }
    .news-index__item-date {
      font-size: 14px;
      line-height: 136%;
      margin-top: 8px;
      color: #C4C4C4; }

.info {
  padding: 37px 0; }
  .info__inner {
    display: flex;
    justify-content: space-between; }
  .info__left, .info__right {
    width: calc(50% - 15px); }
  .info__btn {
    width: 309px;
    height: 50px;
    margin-top: 27px;
    font-weight: 500;
    font-size: 18px; }

.service {
  padding: 37px 0;
  color: #FFFFFF; }
  .service .swiper-container {
    overflow-x: hidden; }
  .service .swiper-slide {
    overflow: hidden; }
  .service__bg, .service__bg2 {
    position: absolute;
    top: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 410px);
    height: 100%;
    border-radius: 0 12px 12px 0;
    pointer-events: none;
    background: #00539F;
    width: 779px;
    height: 779px;
    border-radius: 50%; }
  .service__bg2 {
    z-index: 2;
    background: #004A8E;
    right: -72px; }
  .service__slider-item {
    overflow: hidden;
    display: flex;
    background: #3876D0;
    border-radius: 12px;
    padding: 32px 60px; }
  .service__slider-pag {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
  .service__slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    margin: 0 4px;
    opacity: 1; }
  .service__slider .swiper-pagination-bullet-active {
    width: 21px;
    border-radius: 28px;
    background: #00539F; }
  .service__left {
    width: 395px;
    flex-shrink: 0;
    position: relative;
    z-index: 2; }
  .service__right {
    flex-grow: 1;
    padding-left: 30px;
    position: relative;
    z-index: 3; }
    .service__right img {
      width: 365px;
      height: auto;
      display: block;
      margin: 0 auto; }
  .service__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 110%; }
  .service__desc {
    font-size: 16px;
    line-height: 136%;
    margin-top: 20px; }
  .service__btn {
    width: 179px;
    height: 50px;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #00539F; }

@media screen and (max-width: 1390px) {
  .main__slider-nav {
    width: 100%; } }
@media screen and (max-width: 1200px) {
  .main .swiper-slide {
    width: 970px !important; }
  .main__slider-item {
    padding-right: 410px; }
    .main__slider-item-img {
      width: 400px;
      right: 0px; }

  .advantages__inner {
    width: calc(100% + 100px); }

  .recomendation__items {
    grid-template-columns: 1fr 1fr; }
  .recomendation__item-img {
    height: 250px; }

  .news-index__item-content {
    padding-right: 0; }

  .info__inner {
    display: block; }
  .info__left, .info__right {
    width: 100%; }

  .service__left {
    width: 310px; }
  .service__right img {
    margin-right: 20px; }
  .service__bg, .service__bg2 {
    width: calc(100% - 310px); }
  .service__bg2 {
    right: -55px; }
  .service__slider-item {
    padding: 50px 0 44px 30px; }
  .service__desc {
    display: none; } }
@media screen and (max-width: 1100px) {
  .advantages__inner {
    width: calc(100% + 60px); } }
@media screen and (max-width: 992px) {
  .main .swiper-slide {
    width: 770px !important; }
  .main__slider-item {
    overflow: hidden;
    padding-right: 210px; }
    .main__slider-item-img {
      width: 300px;
      right: -90px; }

  .recomendation__item-img {
    height: 210px; }

  .news-index__item-img {
    width: 70px;
    height: 70px; }

  .service__item {
    width: 170px; }
  .service__left {
    width: 290px; }
  .service__right {
    padding-left: 0; }
  .service__bg {
    width: calc(100% - 290px); }
  .service__item {
    font-size: 13px; } }
@media screen and (max-width: 790px) {
  .main {
    width: 100%;
    overflow-x: hidden; }
    .main .swiper-container {
      width: calc(100% - 40px);
      margin: 0 auto; }
    .main .swiper-slide {
      width: 100% !important; }
    .main__slider-item {
      padding: 30px 23px; }
      .main__slider-item-img {
        width: 202px;
        right: -90px; }
    .main__slider-next, .main__slider-prev {
      display: none; }
    .main__slider-item {
      overflow: hidden;
      padding-right: 100px; }
      .main__slider-item-img {
        width: 210px;
        right: -64px; }
    .main__title {
      font-size: 32px;
      max-width: 100%; }
    .main__desc {
      font-size: 19px;
      max-width: calc(100% - 55px);
      margin-top: 15px; }
    .main__btn {
      margin-top: 15px; }

  .advantages__inner {
    width: calc(100% + 20px); }
  .advantages__item {
    margin-right: 15px !important; }

  .recomendation__items {
    grid-template-columns: 1fr;
    gap: 15px; }
  .recomendation__item-img {
    height: unset; }

  .news-index {
    margin-top: 0; }
    .news-index__items {
      display: block; }
    .news-index__item:not(:last-child) {
      margin-bottom: 40px; }

  .service__bg, .service__bg2 {
    width: 481px;
    height: 481px;
    right: unset;
    left: -150px;
    top: unset;
    bottom: -56px;
    transform: translate(0, 0); }
  .service__bg2 {
    width: 440px;
    height: 440px; }
  .service__slider .swiper-slide {
    overflow: hidden; }
  .service__slider-item {
    display: block;
    padding: 30px 30px 150px;
    position: relative; }
  .service__slider-pag {
    margin-top: 20px; }
  .service__left {
    width: 100%;
    position: static; }
  .service__right {
    width: 100%;
    margin-top: 110px;
    display: block; }
    .service__right img {
      margin: 0;
      max-width: 100%; }
  .service__btn {
    position: absolute;
    margin-top: 0;
    left: 30px;
    bottom: 40px;
    z-index: 3; }
  .service__title {
    min-height: 99px; } }
@media screen and (max-width: 430px) {
  .advantages__items {
    width: 1000px; }
  .advantages__item {
    width: 280px; }
    .advantages__item--first {
      padding: 0 20px; } }
@media screen and (max-width: 400px) {
  .service__title {
    font-size: 28px; }
  .service__slider-item {
    padding-left: 10px;
    padding-right: 10px; }
    .service__slider-item:before {
      left: -250px; } }

/*# sourceMappingURL=index.css.map */
